@import 'default_colors';

#admin {
  margin-bottom: 15px;
  .title-section {
    background: white;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 20px;

  }
  .signup-assistant {
    h5 {
      margin-bottom: 20px;
    }
    padding: 20px;
    border: 1px solid lightgrey;
    background: white;
    border-radius: 4px;
    button {
      background: $primary;
      border: 1px solid $primary;
    }
  }
}
