
@media (max-width: 700px) {
  .sidenav---sidenav---_2tBP{
    left: -240px;
    position: 'relative';
    transition: all .15s;
  }
  .toggle-button {
    display: none;
  }
  .sidebar-button{
    display: block !important;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .sidebar-div{
    display: block !important;
  }
  .brand-logo {
    display: none !important;
  }

  .currency-conversion {
    transform: scale(.8,.8);
    // position: relative;
    // left: -10px;
    right: 18px !important;
  }


}

// @media (max-width: 700px) {

//
// }
