@import 'default_colors';

#overview {
  margin-bottom: 15px;
  .title-section {
    background: white;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 20px;

    .currency-conversion {
      top: 35px;
      position: absolute;
      right: 40px;
      .right-arrow {
        width: 40px;
        position: relative;
        font-size: 40px;
        color: $primary;
      }
    }
  }
  .properties-overview-section {
    width: 100%;
    background: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 15px;
    min-height: 400px;

  }
  .overdue-section{

    width: 100%;
    background: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 20px;
    min-height: 400px;
    table {
      width: 100%;
      tr:not(:first-child) {
        border-top: 1px solid lightgrey;
      }
      td {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }

}
