@import 'default_colors';

#overview {
  margin-bottom: 15px;
  .title-section {
    background: white;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 20px;
    .select-view-button {
      margin-left: 15px;
      .btn-group {
        height: 38px;
      }
    }
    .add-property-icon {
      color: $red;
      font-size: 32px;
      position: absolute;
      top: 37px;
      right: 34px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .overdue-section{
    width: 100%;
    background: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 20px;
    table {
      width: 100%;
      tr:not(:first-child) {
        border-top: 1px solid lightgrey;
      }
      td {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
  .properties-overview-section {
    width: 100%;
    background: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 20px;
    //margin-bottom: 15px;
  }
}
