@import 'default_colors';

#property {
  padding-bottom: 15px;
  .title-section {
    background: white;
    margin-top: 15px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 20px;
    .add-unit-icon {
      color: $red;
      font-size: 32px;
      position: absolute;
      top: 46px;
      right: 34px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .unit-section {
    background: white;
    margin-top: 15px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 20px;
    .change-amount-icon {
      margin-right: 5px;
      margin-left: -5px;
    }
    .card {
      margin-top: 15px;
      .btn {
        border: 1px solid lightgrey;
        margin-left: 10px;
        height: 38px;
      }
      .form-control {
        position: relative;
        top: 0px;
      }
      .currency {
        position: relative;
        font-size: 20px;
        top: 4px;
        margin-right: 5px;
      }
    }
    .unit-paid-buttons {
      padding-top: 10px;
      .unit-paid-button {
        text-align: right;
        top: 255px;
        position: absolute;
        right: 35px;
      }
    }

    .badge-danger {
      position: absolute;
      top: 38px;
      left: 110px;
      background: $red;
    }
    .property-table {
      width: 100%;
      border: 1px solid lightgrey;
      tr {
        &:not(:first-child){
          border-top: 1px solid lightgrey;
        }
      }
      td {
        width: 50%;
        padding: 5px;

      }
    }
    .edit-unit-icon {
      color: $primary;
      position: absolute;
      right: 33px;
      top: 40px;
      font-size: 20px;
      &:hover {
        cursor: pointer;
      }
    }
    .overdue {
      background: $grey;
      border: $red;
    }
    .overdue.active {
      background: $red;
      border: $grey;
    }
    .paid {
      background: $grey;
      border: $green;
    }
    .paid.active {
      background: $green;
      border: $grey;
    }
  }
  .back-button {
    color: $primary;
    font-size: 49px;
  }
}
