@import 'default_colors';

#properties {
  padding-bottom: 15px;
  .select-view-button {

  }
  .add-property-form {
    .btn {
      // padding: 10px 10px 10px 10px;
      color: white;
      background: $primary;
      border: 1px solid $primary;
    }
  }
  .title-section {
    background: white;
    margin-top: 15px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 20px;
    .select-view-button {
      margin-left: 15px;
      .btn-group {
        height: 38px;
      }
    }
    .add-property-icon {
      color: $red;
      font-size: 32px;
      position: absolute;
      top: 37px;
      right: 34px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .property-section {
    background: white;
    margin-top: 15px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 20px;
    .no-properties {
      margin-bottom: 20px;
    }
    .edit-property-icon {
      color: $primary;
      float: right;
      font-size: 20px;
      &:hover {
        cursor: pointer;
      }
    }

    .tenants-dropdown {
      .show-info {
        position: absolute;
        top: -5px;
        right: -17px;
      }
    }

    .tenants {
      margin-top: 5px;
      border-top: 1px solid $lightgrey;
      padding-top: 5px;
      .overdue {
        position: relative;
        top: 3px;
        float: right;
      }
    }


    .progress-bars {
      .progress {
        .progress-bar {
          background: $primary;
        }
      }

    }
  }
  .view-property-button {
    background: white;
    padding: 0 10 0 10;
    margin-right: 7px;
    margin-bottom: 7px;
    border-radius: 2px;
    border: 1px solid grey;
    &:hover {
      cursor: pointer;
      background: $primary;
      border: 1px solid $primary;
      color: white;
      transition: .15s ease-in-out;
    }
  }
  .unit-amount {
    font-weight: bold;
    margin-left: 5px;
    top: 4px;
  }
  .property-list-view {
    padding: 20px;
    background: white;
    border-radius: 4px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    width: 100%;
    border: 1px solid lightgrey;
    .edit-property-icon {
      color: $primary;
      float: right;
      font-size: 20px;
      &:hover {
        cursor: pointer;
      }
    }
    .btn {
      padding: 0px 5px 0px 5px;
    }
    .input-group-sm>.form-control, .input-group-sm>.input-group-append>.btn, .input-group-sm>.input-group-append>.input-group-text, .input-group-sm>.input-group-prepend>.btn, .input-group-sm>.input-group-prepend>.input-group-text {
      height: 28px;
    }
    .paid.active {
      background: $primary;
      border: 1px solid $primary
    }
    .overdue.active {
      background: $red;
      border: 1px solid $red;
    }
    table {
      width: 100%;
      tr:not(:first-child) {
        border-top: 1px solid lightgrey;
      }
      td {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
}
