@import 'default_colors';

#property {
  padding-bottom: 15px;
  .title-section {
    background: white;
    margin-top: 15px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 20px;
    .add-unit-icon {
      color: $red;
      font-size: 32px;
      position: absolute;
      top: 46px;
      right: 34px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .unit-section {
    background: white;
    margin-top: 15px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 20px;
    .badge-danger {
      position: absolute;
      top: 38px;
      left: 110px;
      background: $red;
    }
    .property-table {
      width: 100%;
      .show-info {
        position: absolute;
        top: 85px;
        right: 25px;
      }
      .property-info {
        padding: 5px 0px 5px 0px;
      }
    }
    .edit-unit-icon {
      color: $primary;
      position: absolute;
      right: 33px;
      top: 40px;
      font-size: 20px;
      &:hover {
        cursor: pointer;
      }
    }

  }
  .back-button {
    color: $primary;
    font-size: 49px;
  }
}
