@import 'default_colors';

#properties {
  .section-card {

    // .hide-content{
    //   transition: all .15s;
    //   display: none;
    //   height: 0px;
    // }
    .row {
      margin-left: 0px;
      margin-right: 0px;
    }
    .form-group {
      padding-right: 0px;
      padding-left: 0px;
    }
    .form-control {
      width: 98%;
    }
    background: white;
    margin-top: 15px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 20px;
    i {
      color: $red;
      font-size: 32px;
      position: relative;
      top: -37px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
