@import 'default_colors';

.sidebar {
  transition: all .15s;
  top: 57px;
  background: $black;
  height: calc(100%-58px);
}

.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navtext---1AE_f {
  color: lightgrey;
}
