@import 'default_colors';

#tenants {
  margin-bottom: 15px;
  .title-section {
    background: white;
    margin-top: 15px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 20px;
    .select-view-button {
      margin-left: 15px;
      .btn-group {
        height: 38px;
      }
    }
  }
  .list-view {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 20px;
    background: white;
    margin-top: 15px;
    .view-property-button {
      border: none;
      padding: 0px;
      &:hover {
        cursor: pointer;
        color: $primary;
        text-decoration: underline;
        transition: .15s ease-in-out;
      }
    }
    table {
      width: 100%;
      tr:not(:first-child) {
        border-top: 1px solid lightgrey;
      }
      td {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
    .btn {
      padding: 0px 5px 0px 5px;
    }
    .input-group-sm>.form-control, .input-group-sm>.input-group-append>.btn, .input-group-sm>.input-group-append>.input-group-text, .input-group-sm>.input-group-prepend>.btn, .input-group-sm>.input-group-prepend>.input-group-text {
      height: 28px;
    }
    .paid.active {
      background: $primary;
      border: 1px solid $primary
    }
    .overdue.active {
      background: $red;
      border: 1px solid $red;
    }
  }
  .tenant-section {
    background: white;
    margin-top: 15px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 20px;
    .btn {
      padding: 0px 5px 0px 5px;
    }
    .input-group-sm>.form-control, .input-group-sm>.input-group-append>.btn, .input-group-sm>.input-group-append>.input-group-text, .input-group-sm>.input-group-prepend>.btn, .input-group-sm>.input-group-prepend>.input-group-text {
      height: 28px;
    }
    .paid.active {
      background: $primary !important;
      border: 1px solid $primary;
    }
    .overdue.active {
      background: $red;
      border: 1px solid $red;
    }
    .edit-tenant-icon {
      color: $primary;
      float: right;
      font-size: 20px;
      &:hover {
        cursor: pointer;
      }
    }
    .title {
      display: inline-flex;
      height: 18px;
      margin-bottom: 18px;
      .overdue {
        background: $red;
        margin-top: 3px;
        margin-left: 10px;
        height: 18px;
        position: relative;
      }
    }
    .tenant-info {
      padding: 5px 0px 5px 0px;


    }
    .show-info {
      color: grey;
      position: absolute;
      top: 85px;
      right: 25px;
    }
    .view-property-button {
      background: white!important;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
