
@import 'properties';
@import 'sidebar';
@import 'default_colors';
@import 'header';
@import 'property';
@import 'tenants';
@import 'unit_paid_form';
@import 'overview';
@import 'login';
@import 'signup';
@import 'admin';
@import 'home';
@import 'media_queries';

* {
  font-size: 16px;
}

body {
  background: $lightgrey;
}

.sweet-loading {
  text-align: center;
}

nav {
  background-color: white;
  border-bottom: 2px solid $primary;
  .sidebar-button {
    display: none;
  }
  .sidebar-div {
    display: none;
    height: 40px;
  }
}

.small-text {
  position: relative;
  font-size: 13px;
  color: grey;
}
