@import 'overview_component';
@import 'default_colors';

* {
  font-size: 16px;
}
body {
  background: $lightgrey;
}

.main-container{
  .main-section{
  }
}

.title {
  font-weight: 500;

}


//-------> Materialize over-ride <----------//

nav {
  background-color: $primary;
}
