// @import 'overview_component';
@import 'properties';
@import 'sidebar';
@import 'default_colors';
@import 'media_queries';
@import 'header';

* {
  font-size: 16px;
}

body {
  background: $lightgrey;
}

nav {
  background-color: white;
  border-bottom: 2px solid $primary;
  .sidebar-button {
    display: none;
  }
  .sidebar-div {
    display: none;
    height: 40px;
    // width: 34px;
    // .sidenav---icon-bar---u1f02 {
    //   background-color: $black;
    // }
  }
}
